/* eslint-disable @typescript-eslint/no-var-requires */
import { provideHttpClientTesting } from '@angular/common/http/testing';
import { ComponentFixture, fakeAsync, TestBed, tick } from '@angular/core/testing';
import { FormsModule, ReactiveFormsModule } from '@angular/forms';
import { ActivatedRoute } from '@angular/router';
import { LetDirective } from '@ngrx/component';
import {
  AngularAcceleratorModule,
  BreadcrumbService,
} from '@onecx/angular-accelerator';
import { TranslateModule } from '@ngx-translate/core'
import { provideTranslateTestingService } from '@onecx/angular-accelerator/testing'
import { FloatLabelModule } from 'primeng/floatlabel';
import { InputTextModule } from 'primeng/inputtext';
import { distinctUntilChanged, filter, skip, take, toArray } from 'rxjs'
import { <%= resourceClassName%>CreateUpdateComponent } from './<%= resourceFileName%>-create-update.component';
import { <%= resourceClassName%> } from 'src/app/shared/generated';

Object.defineProperty(window, 'matchMedia', {
  writable: true,
  value: jest.fn().mockImplementation((query) => ({
    matches: false,
    media: query,
    onchange: null,
    addListener: jest.fn(), // Deprecated
    removeListener: jest.fn(), // Deprecated
    addEventListener: jest.fn(),
    removeEventListener: jest.fn(),
    dispatchEvent: jest.fn(),
  })),
});

describe('<%= resourceClassName%>CreateUpdateComponent', () => {
  let component: <%= resourceClassName%>CreateUpdateComponent;
  let fixture: ComponentFixture<<%= resourceClassName%>CreateUpdateComponent>;

  const mockActivatedRoute = {};

  beforeEach(async () => {
    await TestBed.configureTestingModule({
      declarations: [<%= resourceClassName%>CreateUpdateComponent],
      imports: [
        AngularAcceleratorModule,
        FloatLabelModule,
        InputTextModule,
        FormsModule,
        LetDirective,
        ReactiveFormsModule,
        TranslateModule.forRoot(),
      ],
      providers: [
        provideHttpClientTesting(),
        BreadcrumbService,
        { provide: ActivatedRoute, useValue: mockActivatedRoute },
        provideTranslateTestingService({
          de: require('../../../../../../assets/i18n/de.json'),
          en: require('../../../../../../assets/i18n/en.json')
        })
      ],
    }).compileComponents();

    fixture = TestBed.createComponent(<%= resourceClassName%>CreateUpdateComponent);
    component = fixture.componentInstance;
    fixture.detectChanges();
  });

  it('should create', () => {
    expect(component).toBeTruthy();
  });

  it('should emit primaryButtonEnabled as true when form is valid', fakeAsync(() => {
    const emissions: boolean[] = []
    
    // Subscribe before any changes
    component.primaryButtonEnabled.pipe(distinctUntilChanged()).subscribe((enabled) => {
      emissions.push(enabled)
    })

    fixture.detectChanges()

    component.formGroup.setValue({ changeMe: 'x'.repeat(256) })
    fixture.detectChanges()

    component.formGroup.setValue({ changeMe: 'valid value' })
    fixture.detectChanges()

    expect(emissions).toEqual([false, true])
  }))

  it('should dynamically emit primaryButtonEnabled based on form validity changes', fakeAsync(() => {
    component.formGroup.reset()
    fixture.detectChanges()
    const emissions: boolean[] = []
    component.primaryButtonEnabled.pipe(distinctUntilChanged()).subscribe((enabled) => {
      emissions.push(enabled)
    })

    component.formGroup.setValue({ changeMe: 'initial valid' })
    fixture.detectChanges()

    // Make invalid
    component.formGroup.setValue({ changeMe: 'x'.repeat(256) })
    fixture.detectChanges()

    // Make valid
    component.formGroup.setValue({ changeMe: 'valid' })
    fixture.detectChanges()

    expect(emissions).toEqual([true, false, true])
  }))

  it('should set dialogResult with merged values on ocxDialogButtonClicked', () => {
    const itemToEdit = { id: '1', appId: 'oldId', name: 'oldName', description: 'oldDesc' } as <%= resourceClassName%>
    fixture.componentRef.setInput('vm', { itemToEdit })

    component.formGroup.setValue({ changeMe: 'newVal' })

    component.ocxDialogButtonClicked()

    expect(component.dialogResult).toEqual({
      id: '1',
      appId: 'oldId',
      name: 'oldName',
      description: 'oldDesc',
      changeMe: 'newVal'
    })
  })

  it('should patch formGroup values from vm.itemToEdit on ngOnInit', () => {
    const itemToEdit = { id: '1', changeMe: 'editVal' } as <%= resourceClassName%>
    fixture.componentRef.setInput('vm', { itemToEdit })
    component.ngOnInit()
    expect(component.formGroup.value).toEqual({ changeMe: 'editVal' })
  })

  it('should set dialogResult to form values when creating (no itemToEdit)', () => {
    fixture.componentRef.setInput('vm', { itemToEdit: undefined })
    component.formGroup.setValue({ changeMe: 'createVal' })

    component.ocxDialogButtonClicked()

    expect(component.dialogResult).toEqual({ changeMe: 'createVal' })
  })
});