import { Component, effect, EventEmitter, input, OnInit, signal } from '@angular/core';

import { FormControl, FormGroup, Validators } from '@angular/forms';
import { Subject } from 'rxjs';

import {
  DialogPrimaryButtonDisabled,
  DialogResult,
  DialogButtonClicked,
} from '@onecx/angular-accelerator';

import { <%= resource%> } from 'src/app/shared/generated';
import { <%= resourceClassName%>CreateUpdateViewModel } from './<%= resourceFileName %>-create-update.viewmodel';
import { toSignal } from '@angular/core/rxjs-interop'

@Component({
  selector: 'app-<%= resourceFileName %>-create-update',
  templateUrl: './<%= resourceFileName %>-create-update.component.html',
  styleUrls: ['./<%= resourceFileName %>-create-update.component.scss'],
  standalone: false
})
export class <%= resourceClassName%>CreateUpdateComponent 
  implements
    DialogPrimaryButtonDisabled,
    DialogResult<<%= resource %> | undefined>,
    DialogButtonClicked<<%= resourceClassName%>CreateUpdateComponent>,
    OnInit {

  vm = input<<%= resourceClassName%>CreateUpdateViewModel>({
    itemToEdit: undefined
  })

  formStatus = signal(false)

  public formGroup: FormGroup;  
  
  primaryButtonEnabled = new Subject<boolean>()
  primaryButtonEnabledEvent = new EventEmitter<boolean>()

  dialogResult: <%= resource %> | undefined = undefined

  constructor() {
    this.formGroup = new FormGroup({
      changeMe: new FormControl(null, [Validators.maxLength(255)]),
      // ACTION C3: Add form fields
    })

    this.formStatus.set(this.formGroup.status === 'VALID')

    this.formGroup.statusChanges.subscribe(() => {
      this.formStatus.set(this.formGroup.status === 'VALID')
    })

    effect(() => {
      this.primaryButtonEnabled.next(this.formStatus())
      this.primaryButtonEnabledEvent.emit(this.formStatus())
    })
  }

  ocxDialogButtonClicked() {
    this.dialogResult = {
      ...this.vm()?.itemToEdit,
      ...this.formGroup.value,
    };
  }

  ngOnInit() {
    if (this.vm()?.itemToEdit) {
      this.formGroup.patchValue({
        ...this.vm().itemToEdit,
      });
    }
  }

}