@let vm = viewModel();
@if (vm) {
<ocx-portal-page
  <% if(!standalone){ %> permission="<%= resourceConstantName %>#VIEW" <% } %>
  [helpArticleId]="'<%= resourceConstantName %>_DETAILS.HELP_ARTICLE_ID' | translate"
>
  @if (vm.detailsLoadingIndicator) {
    <ocx-loading-indicator> </ocx-loading-indicator>
  }
  @if (!vm.detailsLoaded && !vm.detailsLoadingIndicator) {
    <ocx-error> </ocx-error>
  }
  @if (vm.detailsLoaded && !vm.detailsLoadingIndicator) {
    <div>
      <ocx-page-header
        [header]="'<%= resourceConstantName %>_DETAILS.HEADER' | translate"
        [subheader]="'<%= resourceConstantName %>_DETAILS.SUB_HEADER' | translate"
        [objectDetails]="headerLabels()"
        [actions]="headerActions()"
        [disableDefaultActions]="true"
        [manualBreadcrumbs]="true"
        [attr.aria-label]="'<%= resourceConstantName%>_DETAILS.FORM.NAME' | translate"
      >
      </ocx-page-header>
      <%_ if(editMode){ _%>
      <ocx-content
        role="main"
        [attr.aria-label]="'<%= resourceConstantName %>_DETAILS.ARIA_LABEL' | translate">
        <div class="surface-section mt-3 mb-1 mx-3">
          <form [formGroup]="formGroup" errorTailor>
            <div class="mt-3 mb-1">
              <p-floatlabel variant="on" controlErrorAnchor>
                <input
                  pInputText
                  type="text"
                  id="<%= resourceConstantName.toLowerCase() %>_detail_id"
                  class="w-full pt-3 pb-2 text-responsive"
                  formControlName="id"
                  required
                  aria-required="true"
                />
                <label class="ocx-required-label" for="<%= resourceConstantName.toLowerCase() %>_detail_id">
                  {{ '<%= resourceConstantName %>_DETAILS.FORM.ID' | translate }}
                </label>
              </p-floatlabel>
            </div>
          </form>
        </div>
      </ocx-content>
      <%_ } _%>
    </div>
  }
</ocx-portal-page>
}
