import { bootstrapModule } from '@onecx/angular-webcomponents'
import { environment } from 'src/environments/environment'
import { OneCX<%= remoteModuleName %>Module } from './app/onecx-<%= remoteModuleFileName %>.remote.module';

bootstrapModule(OneCX<%= remoteModuleName %>Module, 'microfrontend', environment.production)