<ocx-portal-page
  role="main"
  permission="<%= pageConstantName %>#VIEW" %>
  helpArticleId="PAGE_<%= featureConstantName %>_<%= pageConstantName %>" 
  [attr.aria-label]="'<%= pageConstantName %>.HEADER' | translate"
>
  <ocx-page-header
    header="<%= pageTitle %>"
    subheader="Created by OneCX App Generator"
  >
  </ocx-page-header>

  <ocx-content>
    <h1><%= pageTitle %></h1>
  </ocx-content>
</ocx-portal-page>
