import { Component, inject } from '@angular/core';
import { Store } from '@ngrx/store';

import { select<%= pageClassName %>ViewModel } from './<%= pageFileName %>.selectors';
import { <%= pageClassName %>ViewModel } from './<%= pageFileName %>.viewmodel';
import { toSignal } from '@angular/core/rxjs-interop'

@Component({
  selector: 'app-<%= pageFileName %>',
  templateUrl: './<%= pageFileName %>.component.html',
  styleUrls: ['./<%= pageFileName %>.component.scss'],
  standalone: false,
})
export class <%= pageClassName %>Component {
  private readonly store = inject(Store)
  viewModel = toSignal<<%= pageClassName %>ViewModel>(
    this.store.select(select<%= pageClassName %>ViewModel),
    { initialValue: null }
  )
}
