import { BrowserModule } from '@angular/platform-browser';
import { APP_INITIALIZER, NgModule } from '@angular/core';
import {
  provideHttpClient,
  withInterceptorsFromDi,
} from '@angular/common/http';
import { AppRoutingModule } from './app-routing.module';
import { AppComponent } from './app.component';
import {
  AppStateService,
  APP_CONFIG,
  ConfigurationService,
  UserService
} from '@onecx/angular-integration-interface';
import {
  AngularAcceleratorModule,
  providePortalDialogService,
} from '@onecx/angular-accelerator';
import { provideMissingTranslationHandler, provideTranslateLoader, provideTranslateService } from '@ngx-translate/core';
import { BrowserAnimationsModule } from '@angular/platform-browser/animations';
import { CommonModule } from '@angular/common';
import { apiConfigProvider } from 'src/app/shared/utils/apiConfigProvider.utils'
import { AngularAuthModule } from '@onecx/angular-auth';
import { Configuration } from 'src/app/shared/generated'
import { environment } from 'src/environments/environment'
import { OnecxTranslateLoader, MultiLanguageMissingTranslationHandler } from '@onecx/angular-utils';
import {
  StandaloneShellModule,
  provideStandaloneProviders
} from '@onecx/angular-standalone-shell';


export const commonImports = [CommonModule];

@NgModule({
  declarations: [AppComponent],
  imports: [
    ...commonImports,
    StandaloneShellModule,
    BrowserModule,
    BrowserAnimationsModule,
    AppRoutingModule,
    AngularAcceleratorModule,
    AngularAuthModule,
  ],
  providers: [
    provideStandaloneProviders(),
    provideHttpClient(withInterceptorsFromDi()),
    { provide: APP_CONFIG, useValue: environment },
    {
      provide: Configuration,
      useFactory: apiConfigProvider,
      deps: [ConfigurationService, AppStateService],
    },    
    provideTranslateService({
      defaultLanguage: 'en',
      loader: provideTranslateLoader(OnecxTranslateLoader),
      missingTranslationHandler: provideMissingTranslationHandler(MultiLanguageMissingTranslationHandler)
    }),
  ],
  bootstrap: [AppComponent]
})
export class AppModule {}
