import {
  DataTableColumn,
  InteractiveDataViewComponentState,
  SearchHeaderComponentState,
  DiagramComponentState,
} from '@onecx/angular-accelerator';
import { <%= resource %> } from 'src/app/shared/generated';
import { <%= resourceClassName %>SearchCriteria } from './<%= resourceFileName %>-search.parameters';

export interface <%= resourceClassName %>SearchState {
  columns: DataTableColumn[];
  results: <%= resource %>[];
  chartVisible: boolean;
  resultComponentState: InteractiveDataViewComponentState | null;
  searchHeaderComponentState: SearchHeaderComponentState | null;
  diagramComponentState: DiagramComponentState | null;
  searchLoadingIndicator: boolean;
  criteria: <%= resourceClassName %>SearchCriteria;  
  searchExecuted: boolean;
}