@if (viewModel(); as vm)
{
<ocx-portal-page 
  <% if(!standalone){ %> permission="<%= resourceConstantName %>#SEARCH" <% } %>
  [helpArticleId]="'<%= resourceConstantName %>_SEARCH.HELP_ARTICLE_ID' | translate"
>
  <ocx-search-header
    [header]="'<%= resourceConstantName %>_SEARCH.HEADER' | translate"
    [subheader]="'<%= resourceConstantName %>_SEARCH.SUB_HEADER' | translate"
    (searched)="search(<%= resourcePropertyName %>SearchFormGroup)"
    (resetted)="resetSearch()"
    [manualBreadcrumbs]="true"
    [actions]="headerActions()"        
    (componentStateChanged)="searchHeaderComponentStateChanged($event)"
    [viewMode]="vm.searchHeaderComponentState?.activeViewMode ?? 'basic'"
    [attr.aria-label]="'<%= resourceConstantName%>_SEARCH.ARIA_LABEL' | translate"
  >
    <form [formGroup]="<%= resourcePropertyName %>SearchFormGroup">
      <div class="grid mt-0 p-fluid">
        <div class="col-12 md:col-3">
          <p-floatlabel variant="on">
            <!-- ACTION S3: Change this search criteria -->
            <input
              pInputText
              id="<%= workspaceName.toLowerCase() %>_<%= resourcePropertyName.toLowerCase() %>_search_criteria_change_me"
              type="text"
              class="w-18rem"
              formControlName="changeMe"
              [pTooltip]="'<%= resourceConstantName%>_SEARCH.CRITERIA.CHANGE_ME.TOOLTIP' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
              role="main"
              [attr.aria-label]="'<%= resourceConstantName%>_SEARCH.CRITERIA.CHANGE_ME.ARIA_LABEL' | translate"
            />
            <label 
              for="<%= workspaceName.toLowerCase() %>_<%= resourcePropertyName.toLowerCase() %>_search_criteria_change_me"
              class="white-space-nowrap">
              {{ '<%= resourceConstantName%>_SEARCH.CRITERIA.CHANGE_ME.LABEL' | translate }}
            </label>
          </p-floatlabel>
        </div>
        <!-- ACTION S3: Specify search criteria here -->
      </div>
    </form>
  </ocx-search-header>

  <ocx-content-container layout="horizontal">
    <ocx-content class="w-full">
      <ocx-interactive-data-view
        [data]="vm.results"
        [columns]="vm.columns"
        [emptyResultsMessage]="'<%= resourceConstantName %>_SEARCH.EMPTY_RESULTS' | translate"
        (componentStateChanged)="resultComponentStateChanged($event)"
        [layout]="vm.resultComponentState?.layout ?? 'list'"
        [supportedViewLayouts]="['list', 'table']"
        [page]="vm.resultComponentState?.activePage ?? 0"
        [pageSize]="vm.resultComponentState?.pageSize"
        [filters]="vm.resultComponentState?.filters ?? []"
        [sortField]="vm.resultComponentState?.sorting?.sortColumn"
        [sortDirection]="vm.resultComponentState?.sorting?.sortDirection ?? defaultDataSortDirection"
        [selectedRows]="vm.resultComponentState?.selectedRows?? []"
        [defaultGroupKey]="vm.resultComponentState?.activeColumnGroupKey ?? ''"
        [actionColumnPosition]="vm.resultComponentState?.actionColumnConfig?.position?? 'right'"
        [frozenActionColumn]="vm.resultComponentState?.actionColumnConfig?.frozen ?? false"
        [attr.aria-label]="'<%= resourceConstantName%>_SEARCH.RESULTS.NAME' | translate"
      >
      </ocx-interactive-data-view>
    </ocx-content>
    @if ((vm.results.length) > 0 && vm.chartVisible && diagramColumn()) {
    <ocx-content class="w-full lg:w-3">
      <div
        class="flex flex-column md:flex-row lg:flex-column justify-content-center"
      >
        <ocx-group-by-count-diagram          
          [data]="vm.results"
          [column]="diagramColumn()"
          sumKey="<%= resourceConstantName %>_SEARCH.DIAGRAM.SUM"
          [diagramType]="vm.diagramComponentState?.activeDiagramType ?? defaultDiagramType"
          (componentStateChanged)="diagramComponentStateChanged($event)"
          [attr.aria-label]="'<%= resourceConstantName %>_SEARCH.DIAGRAM.NAME' | translate"
        ></ocx-group-by-count-diagram>
      </div>
    </ocx-content>
  }
  </ocx-content-container>
</ocx-portal-page>
}
