import { TestBed } from '@angular/core/testing'
import { ActivatedRoute, provideRouter, Router } from '@angular/router';
import { provideMockActions } from '@ngrx/effects/testing'
import { Action, Store } from '@ngrx/store'
import { MockStore, provideMockStore } from '@ngrx/store/testing'
import {
  PortalDialogService,
  ExportDataService,
  ColumnType, 
  DataTableColumn, 
  RowListGridData
} from '@onecx/angular-accelerator';
import { PortalMessageService } from '@onecx/angular-integration-interface';
import { HttpEvent } from '@angular/common/http'
import { routerNavigatedAction } from '@ngrx/router-store'
import { of, ReplaySubject, throwError } from 'rxjs'
import { take } from 'rxjs/operators'

import { <%= serviceName %>, <%= searchResponseName %> } from 'src/app/shared/generated'
import { <%= resourcePropertyName %>SearchActions } from './<%= resourceFileName %>-search.actions'
import { <%= resourceClassName %>SearchEffects } from './<%= resourceFileName %>-search.effects'
import { <%= resourceClassName %>SearchCriteria } from './<%= resourceFileName %>-search.parameters'
import { initialState } from './<%= resourceFileName %>-search.reducers'
import { <%= resourcePropertyName %>SearchSelectors, select<%= resourceClassName %>SearchViewModel } from './<%= resourceFileName %>-search.selectors'
import { <%= resourceClassName %>SearchViewModel } from './<%= resourceFileName %>-search.viewmodel'

jest.mock('@onecx/ngrx-accelerator', () => {
  const actual = jest.requireActual('@onecx/ngrx-accelerator')
  return {
    ...actual,
    filterForNavigatedTo: () => (source: unknown) => source,
    filterOutQueryParamsHaveNotChanged: () => (source: unknown) => source
  }
})

describe('<%= resourceClassName %>SearchEffects', () => {
  let actions$: ReplaySubject<Action>
  let effects: <%= resourceClassName %>SearchEffects
  let store: MockStore<Store>
  let router: jest.Mocked<Router>
  let route: ActivatedRoute
  let <%= resourcePropertyName %>Service: jest.Mocked<<%= serviceName %>>
  let portalDialogService: jest.Mocked<PortalDialogService>
  let messageService: jest.Mocked<PortalMessageService>
  let exportDataService: jest.Mocked<ExportDataService>

  const mockCriteria: <%= resourceClassName %>SearchCriteria = { changeMe: 'test' }

  beforeEach(async () => {
    actions$ = new ReplaySubject(1)

    <%= resourcePropertyName %>Service = {
      create<%= apiModelPascal %>: jest.fn(),
      update<%= apiModelPascal %>ById: jest.fn(),
      delete<%= apiModelPascal %>ById: jest.fn(),
      search<%= apiModelPascal %>Items: jest.fn()
    } as unknown as jest.Mocked<<%= serviceName %>>;

    router = {
      navigate: jest.fn().mockReturnValue(Promise.resolve(true)),
      parseUrl: jest.fn(),
      events: of()
    } as unknown as jest.Mocked<Router>

    portalDialogService = {
      openDialog: jest.fn()
    } as unknown as jest.Mocked<PortalDialogService>

    messageService = {
      success: jest.fn(),
      error: jest.fn()
    } as unknown as jest.Mocked<PortalMessageService>

    exportDataService = {
      exportCsv: jest.fn()
    } as unknown as jest.Mocked<ExportDataService>

    route = {
      queryParams: of({}),
      snapshot: { queryParams: {} }
    } as unknown as ActivatedRoute

    await TestBed.configureTestingModule({
      providers: [
        <%= resourceClassName %>SearchEffects,
        provideRouter([]),
        provideMockStore({
          initialState: { <%= resourceClassName %>Search: initialState }
        }),
        provideMockActions(() => actions$),
        { provide: ActivatedRoute, useValue: route },
        { provide: Router, useValue: router },
        { provide: <%= serviceName %>, useValue: <%= resourcePropertyName %>Service },
        { provide: PortalDialogService, useValue: portalDialogService },
        { provide: PortalMessageService, useValue: messageService },
        { provide: ExportDataService, useValue: exportDataService }
      ]
    }).compileComponents()

    store = TestBed.inject(MockStore)
    effects = TestBed.inject(<%= resourceClassName %>SearchEffects)
  })

  beforeEach(() => {
    jest.resetAllMocks();
    (router.parseUrl as jest.Mock).mockImplementation((url: string) => ({
      toString: () => (url ? url.split('?')[0].split('#')[0] : '/search'),
      queryParams: {},
      fragment: null
    }))
  })

  describe('syncParamsToUrl$', () => {
    beforeEach(() => {
      store.overrideSelector(<%= resourcePropertyName %>SearchSelectors.selectCriteria, mockCriteria)
      store.refreshState()
    })

    it('should navigate to update URL when criteria differs from query params', (done) => {
      const navigateSpy = jest.spyOn(router, 'navigate')
      route.queryParams = of({ different: 'yes' })

      effects.syncParamsToUrl$.pipe(take(1)).subscribe(() => {
        expect(navigateSpy).toHaveBeenCalled()
        done()
      })

      actions$.next(<%= resourcePropertyName %>SearchActions.searchButtonClicked({ searchCriteria: mockCriteria }))
    })

    it('should not navigate when criteria matches query params', (done) => {
      const navigateSpy = jest.spyOn(router, 'navigate')
      route.queryParams = of(mockCriteria)

      effects.syncParamsToUrl$.pipe(take(1)).subscribe(() => {
        expect(navigateSpy).not.toHaveBeenCalled()
        done()
      })

      actions$.next(<%= resourcePropertyName %>SearchActions.searchButtonClicked({ searchCriteria: mockCriteria }))
    })

    it('should navigate when resetButtonClicked action is triggered', (done) => {
      const navigateSpy = jest.spyOn(router, 'navigate')
      route.queryParams = of({ something: 'else' })

      effects.syncParamsToUrl$.pipe(take(1)).subscribe(() => {
        expect(navigateSpy).toHaveBeenCalled()
        done()
      })

      actions$.next(<%= resourcePropertyName %>SearchActions.resetButtonClicked())
    })
  })

  describe('searchByUrl$ / performSearch', () => {
    beforeEach(() => {
      store.overrideSelector(<%= resourcePropertyName %>SearchSelectors.selectCriteria, mockCriteria)
      store.refreshState()

      <%= resourcePropertyName %>Service.search<%= apiModelPascal %>Items.mockReturnValue(
        of({
          stream: [{ id: '1', name: 'Item 1', description: '', imagePath: '' }],
          content: [{ id: '1', name: 'Item 1', description: '', imagePath: '' }],
          size: 10,
          number: 0,
          totalElements: 1,
          totalPages: 1
        } as unknown as HttpEvent<<%= searchResponseName %>>)
      )
    })

    it('should dispatch resultsLoadingFailed on search error', (done) => {
      const mockError = 'Search failed'
      <%= resourcePropertyName %>Service.search<%= apiModelPascal %>Items.mockReturnValueOnce(throwError(() => mockError))

      effects.performSearch(mockCriteria).pipe(take(1)).subscribe((action) => {
        expect(action.type).toEqual(<%= resourcePropertyName %>SearchActions.<%= resourcePropertyName %>SearchResultsLoadingFailed.type)
        expect(action).toEqual(<%= resourcePropertyName %>SearchActions.<%= resourcePropertyName %>SearchResultsLoadingFailed({ error: mockError }))
        done()
      })
    })

    it('should convert Date objects in search criteria before calling <%= resourcePropertyName %>Service', (done) => {
      const criteriaWithDate = { ...mockCriteria, startDate: new Date('2023-01-01'), endDate: new Date('2023-12-31') }
      const searchSpy = jest.spyOn(<%= resourcePropertyName %>Service, 'search<%= apiModelPascal %>Items')

      effects.performSearch(criteriaWithDate).pipe(take(1)).subscribe(() => {
        expect(searchSpy).toHaveBeenCalledWith(
          expect.objectContaining({
            startDate: '2023-01-01T00:00:00.000Z',
            endDate: '2023-12-31T00:00:00.000Z'
          })
        )
        done()
      })
    })
    
    it('should use latest criteria from store and call performSearch on routerNavigatedAction', (done) => {
      const criteriaFromStore = { changeMe: 'fromStore' }
      store.overrideSelector(<%= resourcePropertyName %>SearchSelectors.selectCriteria, criteriaFromStore)
      store.refreshState()

      const markerAction = <%= resourcePropertyName %>SearchActions.<%= resourcePropertyName %>SearchResultsLoadingFailed({ error: null })
      const performSearchSpy = jest.spyOn(effects, 'performSearch').mockReturnValue(of(markerAction))

      effects.searchByUrl$.pipe(take(1)).subscribe((action) => {
        expect(performSearchSpy).toHaveBeenCalledWith(criteriaFromStore)
        expect(action).toBe(markerAction)
        done()
      })

      actions$.next({ type: routerNavigatedAction.type })
    })
  })

  describe('exportData$', () => {
    const cases = [
      {
        desc: 'should handle export with empty displayed columns',
        viewModel: { 
          results: [{ id: '1', name: 'Context 1', description: 'Description 1', imagePath: '' }], resultComponentState: { displayedColumns: undefined }
        } as Partial<<%= resourceClassName %>SearchViewModel>
      },
      {
        desc: 'should handle export with null resultComponentState',
        viewModel: {
          results: [{ id: '1', name: 'Context 1', description: 'Description 1', imagePath: '' }], resultComponentState: null
        } as Partial<<%= resourceClassName %>SearchViewModel>
      }
    ];
    
    cases.forEach(({ desc, viewModel }) => {
      it(desc, (done) => {
        store.overrideSelector(select<%= resourceClassName %>SearchViewModel, viewModel as <%= resourceClassName %>SearchViewModel)

        effects.exportData$.pipe(take(1)).subscribe(() => {
          expect(exportDataService.exportCsv).toHaveBeenCalledWith([], viewModel.results, 'export_<%= resourcePropertyName %>.csv')
          done()
        })

        actions$.next(<%= resourcePropertyName %>SearchActions.exportButtonClicked())
      })
    })

    it('should export CSV with correct parameters when export button is clicked', (done) => {
      const mockColumns: DataTableColumn[] = [
        {
          columnType: ColumnType.STRING,
          id: 'changeMe',
          nameKey: '<%= resourceConstantName %>_SEARCH.RESULTS.CHANGE_ME',
        }
      ]
      const mockResults: Partial<RowListGridData>[] = [
        { id: '1', name: 'Context 1', description: 'Description 1' },
        { id: '2', name: 'Context 2', description: 'Description 2' }
      ]
      const mockViewModel = { resultComponentState: { displayedColumns: mockColumns }, results: mockResults }
      store.overrideSelector(select<%= resourceClassName %>SearchViewModel, mockViewModel as <%= resourceClassName %>SearchViewModel)


      effects.exportData$.pipe(take(1)).subscribe(() => {
        expect(exportDataService.exportCsv).toHaveBeenCalledWith(mockColumns, mockResults, 'export_<%= resourcePropertyName %>.csv')
        done()
      })

      actions$.next(<%= resourcePropertyName %>SearchActions.exportButtonClicked())
    })

    it('should handle export with empty results', (done) => {
      const mockColumns: DataTableColumn[] = [
        {
          columnType: ColumnType.STRING,
          id: 'changeMe',
          nameKey: '<%= resourceConstantName %>_SEARCH.RESULTS.CHANGE_ME',
        }
      ]
      const mockViewModel = { resultComponentState: { displayedColumns: mockColumns }, results: [] as RowListGridData[]}
      store.overrideSelector(select<%= resourceClassName %>SearchViewModel, mockViewModel as <%= resourceClassName %>SearchViewModel)

      effects.exportData$.pipe(take(1)).subscribe(() => {
        expect(exportDataService.exportCsv).toHaveBeenCalledWith(mockColumns, [], 'export_<%= resourcePropertyName %>.csv')
        done()
      })

      actions$.next(<%= resourcePropertyName %>SearchActions.exportButtonClicked())
    })
  })

  describe('displayError$', () => {
    it('should display error message when ResultsLoadingFailed action is dispatched', (done) => {
      effects.displayError$.pipe(take(1)).subscribe(() => {
        expect(messageService.error).toHaveBeenCalled()
        done()
      })

      actions$.next(<%= resourcePropertyName %>SearchActions.<%= resourcePropertyName %>SearchResultsLoadingFailed({ error: 'Test error' }))
    })
  })

// <<SPEC-EXTENSIONS-MARKER-!!!-DO-NOT-REMOVE-!!!>>
})