{
  "<%= resourceConstantName %>_DELETE": {
    "HEADER": "<%= resourceClassName %> löschen",
    "MESSAGE": "Bitte bestätigen, dass diese <%= resourceClassName %> gelöscht werden soll.",
    "CONFIRM": "Bestätigen",
    "CANCEL": "Abbrechen",
    "SUCCESS": "<%= resourceClassName %> erfolgreich gelöscht",
    "ERROR": "Konnte <%= resourceClassName %> nicht löschen"
  }
}