{
  "<%= resourceConstantName %>_DELETE": {
    "HEADER": "Delete <%= resourceClassName %>",
    "MESSAGE": "Please confirm that you want to delete this <%= resourceClassName %>.",
    "CONFIRM": "Confirm",
    "CANCEL": "Cancel",
    "SUCCESS": "<%= resourceClassName %> deleted successfully",
    "ERROR": "Could not delete <%= resourceClassName %>"
  }
}